/*.background {
    -fx-background-color: #1d1d1d;
}
.label {
	-fx-font-size: 11pt;
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: white;
	-fx-opacity: 0.6;
}

.label-bright {
	-fx-font-size: 11pt;
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: white;
	-fx-opacity: 1;
}
*/